:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Inter;
  /* line-height: 1.5; */
  /* font-weight: 400; */

  /* color-scheme: light dark; */
  color: #fff;
  background-color: rgba(9, 44, 7, 0.87);

  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

body {
  margin: 0;
  padding: 0;
}

img {
  height: 100px;
}

.one,
.two,
.three,
.four {
  margin-top: 7em;
  text-align: center;
  line-height: 0.5;
}

.one h1 {
  font-size: 6em;
}

.one > .one-1,
.two > .two-1 {
  margin-top: 5em;
}
