:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Inter;
  /* line-height: 1.5; */
  /* font-weight: 400; */

  /* color-scheme: light dark; */
  color: #fff;
  background-color: rgba(9, 44, 7, 0.87);

  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  --satu: rgba(9, 44, 7, 0.87);
  --dua: rgb(155, 132, 2);
}

* {
  box-sizing: border-box;
}

section {
  margin-top: 20px;
  margin-bottom: 100px;
}

a {
  text-decoration: none;
}

.audio {
  position: fixed;
  margin: 0;
  top: 0;
  left: -5px;
}

.nav-group {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  border: 3px solid var(--dua);
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
  position: fixed;
  bottom: 0;
  left: 30%;
  right: 30%;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--satu);
  font-weight: bold;
}

.btn {
  border: 4px solid black;
  border-radius: 8px;
  padding: 10px;
}

.btn-success {
  color: var(--satu);
  font-size: 1em;
  font-weight: 900;
  border-color: var(--dua);
}

img {
  width: 200px;
  height: 200px;
}

.small {
  width: 100px;
  height: 100px;
}

.thumbnail {
  width: 30px;
  height: 30px;
}

.home,
.note,
.bridegroom,
.gallery,
.gift {
  text-align: center;
  letter-spacing: 1px;
}

.title-1,
.title-2,
.title-3 {
  color: var(--dua);
}

.title-1 {
  font-size: 6em;
}

.title-2 {
  font-size: 2em;
}

.title-3 {
  font-size: 1.5em;
}

.italic {
  font-style: italic;
}

.countdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.countdown-card {
  background-color: var(--dua);
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
}

.note {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.note-1 {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.bingkaiBrideGroom {
  border: 5px solid var(--dua);
  border-radius: 50%;
  padding: 5px;
  width: 250px;
}

.bridegroom-1,
.bridegroom-2,
.gift-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.bridegroom-1a,
.bridegroom-1b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bridegroom-2a,
.bridegroom-2b,
.bridegroom-2c {
  border: 4px solid var(--dua);
  border-radius: 20px;
  padding: 10px;
}

.gallery-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.gift-1a,
.gift-1b {
  display: flex;
  border: 4px solid var(--dua);
  border-radius: 8px;
  gap: 10px;
  padding: 10px;
}

@media (max-width: 900px) {
  .nav-group {
    left: 10%;
    right: 10%;
  }
}

@media (max-width: 500px) {
  .nav-group {
    left: 0;
    right: 0;
  }
}
